[submodule "lib/pico-sdk"]
	path = lib/pico-sdk
	url = git@github.com:raspberrypi/pico-sdk.git
[submodule "lib/pico-examples"]
	path = lib/pico-examples
	url = git@github.com:raspberrypi/pico-examples.git
